.container {
    display: flex;
    flex-direction: column;
  }

.section {
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    height: 1000px;
  }
  
  .section1 {
    background-color: lightcoral;
  }
  
  .section2 {
    background-color: lightgreen;
  }
  
  .section3 {
    background-color: lightsalmon;
  }
  